div {
    margin-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 100px;
    width: 540px;
    height: 475px;
    background-color: rgb(103, 255, 255);
}

body {
    background-color: darkred;
}

label {
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    background-color: blue;
    text-decoration: white;
}
button {
    background-color: coral;
}
input {
    margin-bottom: 3px;
}

